# ROS package of the frame grabber 
opencv-contrib-python-headless ~= 4.7.0.68
PyAudio~=0.2.13
soundfile~=0.11.0
PyYAML~=5.3.1

# Installations for PyAudio 
# sudo apt-get install libasound-dev portaudio19-dev libportaudio2 libportaudiocpp0
